* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo:wght@200&family=Bebas+Neue&family=Bitter:ital,wght@0,100;0,200;1,100&family=Bruno+Ace+SC&family=Castoro+Titling&family=Delicious+Handrawn&family=Great+Vibes&family=Indie+Flower&family=Instrument+Serif:ital@0;1&family=Karla:wght@300&family=Libre+Baskerville&family=Lobster&family=Nova+Oval&family=Oswald:wght@200&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Poltawski+Nowy:ital@0;1&family=Raleway:wght@100&family=Red+Hat+Display:ital,wght@0,300;1,300&family=Righteous&family=Roboto:wght@100&family=Satisfy&family=Source+Serif+Pro:wght@200&family=Ysabeau:ital,wght@0,200;1,200&display=swap");

/* font-family: 'Abril Fatface', cursive;
font-family: 'Archivo', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Bitter', serif;
font-family: 'Bruno Ace SC', cursive;
font-family: 'Castoro Titling', cursive;
font-family: 'Delicious Handrawn', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Instrument Serif', serif;
font-family: 'Karla', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Lobster', cursive;
font-family: 'Nova Oval', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poltawski Nowy', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Source Serif Pro', serif;
font-family: 'Ysabeau', sans-serif; */

body {
    height: calc(100vh - 80px);
}


.principal {
    background-image: url(./Background/background4.jpg) !important;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
}

.principalbio {
    background-image: url(./Background/background11.png);
    background-size: cover;
    background-position: initial;
    height: auto;

}

.principalcontacto {
    background-image: url(./Background/background2.png);
}

.principalshow {
    background-image: url(./Background/background6.png);
    background-size: cover;
    height: calc(100vh - 80px);
}

.principalmedia {
    background-color: #1a1a1a;
    height: auto;
    width: auto;
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    margin: 0px;
}

.navbar-toggler {
    padding-left: 70px;
}

#logo {
    border-radius: 45%;
    border: solid 5px white;
    height: 150px;
    width: 600p;
    border: 3px solid #5372ff;
    transition: all 0.9s;
    filter: grayscale(100%);
}

#logo:hover {
    transition: all 0.9s;
    border-radius: 20%;
    filter: grayscale(0%);
}

.navbar-toggler {
    border: none;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: end;
}

.navbar-toggler .collapsed {
    display: flex;
    justify-content: end;
}

.navbar-nav {
    z-index: +1;
    display: flex;
    align-items: center;
}

.nav-link {
    color: rgb(255, 255, 255);
    transition: all 0.9s;
    font-size: 32px;
    display: flex;
    justify-content: right;
    -webkit-text-stroke: 0.25px #5372ff;
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: end;
}

.nav-link:hover {
    transition: all 0.9s;
    font-size: 45px;
    text-shadow: 0 0 3px rgb(226, 90, 90);
    color: rgb(146, 10, 10) !important;
    -webkit-text-stroke: 0.25px rgb(146, 10, 10);
    font-family: "Instrument Serif", serif;
}

a{
    color: white;
    text-decoration: none;
    margin: 30px;
}

a:hover{
    color: #1a1a1a;
}

h1{
    color: white;
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-family: Bloverly;
}


.f-letter::first-letter {
    color: rgb(175, 6, 6);
    font-size: 45px;
    font-weight: bold;
    text-shadow: 0 0 5px white;
    background-color: #1a1a1ac0;
}


.bio {
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    font-family: Ricordi;
    text-align: center;
    background-color: #1a1a1ac0;
    border-radius: 10px;
}

.bio2 {
    color: white;
    padding: 10px;
    margin: 0px;
    font-size: 30px;
    font-family: Ricordi;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.623);
}

.foto {
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "fotobio1 fotobio2 fotobio3";
}

.fotobio1 {
    background-image: url(./Background/dorsos.png);
    grid-area: fotobio1;
    background-size: cover;
    height: 450px;
    width: 350px;
    transition: all 0.9s;
}

.fotobio1:hover {
    background: url(./Background/foto\ bio.jpg);
    background-size: cover;
    grid-area: fotobio1;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
    border: solid 3px white;
    transition: all 0.9s;
}

.fotobio2 {
    background: url(./Background/dorsos.png);
    grid-area: fotobio2;
    background-size: cover;
    height: 450px;
    width: 350px;
    transition: all 0.9s;
}

.fotobio2:hover {
    background: url(./Background/foto\ bio2.jpg);
    background-size: cover;
    grid-area: fotobio2;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
    border: solid 3px white;
    transition: all 0.9s;
}

.fotobio3 {
    background: url(./Background/dorsos.png);
    grid-area: fotobio3;
    background-size: cover;
    height: 450px;
    width: 350px;
    transition: all 0.9s;
}

.fotobio3:hover {
    background: url(./Background/foto\ bio3.jpg);
    background-size: cover;
    grid-area: fotobio3;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
    border: solid 3px white;
    transition: all 0.9s;
}

/* --------------------------------------------------------------------------------------------------------- */

.show0 {
    color: #fff;
    background-color: #1a1a1acb;
    font-size: 32px;
    height: 60px;

}

.showtipo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "tipo1 tipo3 tipo5 tipo7"
        "tipo2 tipo4 tipo6 tipo8";
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all 1.09s;
    line-height: 25px;
    height: auto;
}

.show {
    height: 70px;
}

.showp {
    height: auto;
}

.tipo1 {
    color: rgb(255, 255, 255);
    grid-area: tipo1;
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(247, 48, 50);
    filter: sepia(1);
    transition: all 1.09s;
    text-shadow: 0 0 5px black;
    font-size: 25px;
}

.tipo1:hover {
    filter: sepia(0);
    transition: all 1.09s;
    border: solid 2px white;
    box-shadow: 0 0 5px white;
}

.tipo2 {
    color: rgb(255, 255, 255);
    grid-area: tipo2;
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 10px;
    background-color: rgb(247, 48, 50);
    filter: sepia(1);
    transition: all 1.09s;
    text-shadow: 0 0 5px black;
}

.tipo2:hover {
    filter: sepia(0);
    transition: all 1.09s;
    border: solid 2px white;
    box-shadow: 0 0 5px white;
}

.tipo3 {
    color: #ffffff;
    grid-area: tipo3;
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #5372ff;
    filter: sepia(1);
    transition: all 1.09s;
    text-shadow: 0 0 5px black;
    font-size: 25px;
}

.tipo3:hover {
    filter: sepia(0);
    transition: all 1.09s;
    border: solid 2px white;
    box-shadow: 0 0 5px white;
}

.tipo4 {
    color: #ffffff;
    grid-area: tipo4;
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 10px;
    background-color: #5372ff;
    filter: sepia(1);
    transition: all 1.09s;
    text-shadow: 0 0 5px black;
}

.tipo4:hover {
    filter: sepia(0);
    transition: all 1.09s;
    border: solid 2px white;
    box-shadow: 0 0 5px white;
}

.tipo5 {
    color: rgb(255, 255, 255);
    grid-area: tipo5;
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(247, 48, 50);
    filter: sepia(1);
    transition: all 1.09s;
    text-shadow: 0 0 5px black;
    font-size: 25px
}

.tipo5:hover {
    filter: sepia(0);
    transition: all 1.09s;
    border: solid 2px white;
    box-shadow: 0 0 5px white;
}

.tipo6 {
    color: rgb(255, 255, 255);
    grid-area: tipo6;
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 10px;
    background-color: rgb(247, 48, 50);
    filter: sepia(1);
    transition: all 1.09s;
    text-shadow: 0 0 5px black;
}

.tipo6:hover {
    filter: sepia(0);
    transition: all 1.09s;
    border: solid 2px white;
    box-shadow: 0 0 5px white;
}

.tipo7 {
    color: #ffffff;
    grid-area: tipo7;
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #5372ff;
    filter: sepia(1);
    transition: all 1.09s;
    text-shadow: 0 0 5px black;
    font-size: 25px
}

.tipo7:hover {
    filter: sepia(0);
    transition: all 1.09s;
    border: solid 2px white;
    box-shadow: 0 0 5px white;
}

.tipo8 {
    color: #ffffff;
    grid-area: tipo8;
    border: solid 2px black;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 10px;
    background-color: #5372ff;
    filter: sepia(1);
    transition: all 1.09s;
    text-shadow: 0 0 5px black;
}

.tipo8:hover {
    filter: sepia(0);
    transition: all 1.09s;
    border: solid 2px white;
    box-shadow: 0 0 5px white;
}

/* --------------------------------------------------------------------------------------------------------- */

.galeria {
    padding: 20px;
    margin: 10px;
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "item1 item2 item3 item3"
        "item1 item4 item5 item6"
        "item7 item4 item8 item8";
}

.media {
    border: solid 2px black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    filter: grayscale(1);
    transition: all 0.9s;
}

.media:hover {
    filter: grayscale(0);
    transition: all 0.9s;
    z-index: +1;
    box-shadow: 1px white;
    transform: scale(1.22);
    box-shadow: 0 0 5px white;
    border-radius: 10px;
}

.item1 {
    background-image: url(./media/1.jpg);
    grid-area: item1;
    background-size: cover;
}

.item2 {
    background-image: url(./media/2.jpg);
    grid-area: item2;
    background-size: cover;
}

.item3 {
    background-image: url(./media/3.jpg);
    grid-area: item3;
    background-size: cover;
    background-position-y: center;
}

.item4 {
    background-image: url(./media/4.jpg);
    grid-area: item4;
    background-size: cover;
    background-position: center;
}

.item5 {
    background-image: url(./media/5.jpg);
    grid-area: item5;
    background-size: cover;
}

.item6 {
    background-image: url(./media/6.jpg);
    grid-area: item6;
    background-size: cover;
}

.item7 {
    background-image: url(./media/7.jpg);
    grid-area: item7;
    background-size: cover;
}

.item8 {
    background-image: url(./media/8.jpg);
    grid-area: item8;
    background-size: cover;
}

/* --------------------------------------------------------------------------------------------------------- */
.formulario {
    color: white;
    display: inline;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

#fomrh1 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

#formulario {
    padding: 20px;
    margin: 20px;
}

label {
    background-color: rgba(247, 48, 51, 0.486);
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
}

.enviar {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: #5372ff;
    font-weight: bold;
    color: azure;
    text-shadow: 0 0 5px #1a1a1a;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center;
}

.enviar:hover {
    box-shadow: 0 0 5px white;
}

.reset {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(247, 48, 50);
    font-weight: bold;
    color: azure;
    text-shadow: 0 0 5px #1a1a1a;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center;
}

.reset:hover {
    box-shadow: 0 0 5px white;
}

/* --------------------------------------------------------------------------------------------------------- */

footer{
    background-color: rgb(226, 80, 76);
    transition: all 1.09s;
    filter: grayscale(100%);
}

footer:hover {
    transition: all 1.09s;
    filter: grayscale(0%);
}

#pfooter {
    color: white;
    padding: 10px;
    margin: 0px;
    font-family: "Bitter", serif;
    font-size: 35px;
}

.redes {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin: 0px;
    background-color: rgb(198, 54, 55);
}

.subir {
    height: 45px;
    width: 45px;
    background-color: rgb(78, 78, 78);
    border-radius: 40%;
    position: fixed;
    right: 10px;
    bottom: 1px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
}

.subir:hover {
    background-color: #fff;
}

@media only screen and (max-width: 768px) {
    .principal {
        background-size: cover;
        background-position: initial;
        display: flex;
        align-items: start;
        justify-content: space-around;
    }

    .navbar-nav {
        display: inline;
        height: auto;
    }

    .navbar .navbar-expand-md {
        display: flex;
        justify-content: space-between;
        z-index: +1
    }

    #logo {
        height: 100px;
        width: 600p;
    }

    .navbar-toggler {
        font-size: 27px;
    }

    .nav-link {
        font-size: 16px;
        padding: 2px;
        margin: 10px;
        display: flex;
        justify-content: end;
    }

    .principalbio {
        height: 2000px;
    }

    .bio {
        font-size: 20px;
    }

    .foto {
        height: 250px;
        width: auto;
        border-radius: 10px;
        padding: 10px;
        margin: 0;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "fotobio1"
            "fotobio2"
            "fotobio3";
    }

    .nav-link:hover {
        font-size: 28px;
    }

    .principalshow {
        background-image: url(./Background/background6.png);
        background-size: cover;
        background-position: center;
        height: auto;
        width: auto;
    }

    .bio{
        font-size: 16px;
    }

    .foto {
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat( 3, 1fr);
        grid-template-areas:
            "fotobio1"
            "fotobio2" 
            "fotobio3";
    }

    .showtipo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "tipo1"
            "tipo2"
            "tipo3"
            "tipo4"
            "tipo5"
            "tipo6"
            "tipo7"
            "tipo8";
        justify-content: center;
        height: auto;
    }

    .galeria {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8";
        height: 2000px;
    }

    .item1 {
        background-size: cover;
        background-position-y: top;
    }

    .item6 {
        background-size: cover;
        background-position-y: center;
    }

    #pfooter {
        font-size: 21px;
        padding: 2px;
    }

    .redes2 {
        font-size: 21px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }

    .subir {
        height: 30px;
        width: 30px;
        right: 2px;
        bottom: 0px;
        line-height: 30px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }

    .principalcontacto {
        background-image: url(./Background/background8.jpg);
        background-size: inherit;
        height: auto;
        width: auto;
    }

        .formulario{
            font-size: 16px;
        }


    .formulario1 {
        font-size: 25px;
        padding: 10px;
        margin: 10px;
        background-color: #1a1a1ab7;
        font-family: "Instrument Serif", serif;
        box-shadow: 0 0 5px #fff;
        border-radius: 10px;
    }

    #icoment {
        display: flex;
    }

    .enviar {
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        background-color: #5372ff;
        font-weight: bold;
        color: azure;
        text-shadow: 0 0 5px #1a1a1a;
        font-family: "PT Sans Narrow", sans-serif;
        text-align: center;
    }

    .enviar:hover {
        box-shadow: 0 0 5px white;
    }

    .reset {
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        background-color: rgb(247, 48, 50);
        font-weight: bold;
        color: azure;
        text-shadow: 0 0 5px #1a1a1a;
        font-family: "PT Sans Narrow", sans-serif;
        text-align: center;
    }

    .reset:hover {
        box-shadow: 0 0 5px white;
    }

    footer{
    height: auto;
    }
    .pfooter{
        text-align: center;
        font-size: 20px;
    }

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}